{% include 'pageMacros.html' %}

{# This serves as our base template; it is rendered inside of the 'apos-refreshable' class in outerLayout.html. #}
{# This is where we declare the main blocks that our layout is composed of, e.g. header, main, footer, etc. #}
{# Depending on your needs this is where you would create blocks that you can hook into from other templates, #}
{# e.g. the extraBreadcrumbs block within the breadcrumbs block. #}

{# DO NOT REMOVE THESE COMMENTS. We parse these for outerLayout and refresh operations #}
<!-- APOS-BODY-CLASS {% block bodyClass %}{% endblock %} -->
<!-- APOS-TITLE {% block title %}{% endblock %} -->
<!-- APOS-EXTRA-HEAD {% block extraHead %}{% endblock %} -->
<!-- APOS-SEO-DESCRIPTION {% block seoDescription %}{% endblock %} -->

{% block header %}
  <div class="block header">
    <div class="inner">
      <a href="/" class="logo centered"></a>
      {% block headerTitle %}
        <h3>Apostrophe Help</h3>
      {% endblock %}
    </div>
  </div>
  {% block menu %}
    {# <div class="block">
      <div class="inner">
        <div class="menu clearfix">
          <div class="breadcrumbs">{% block breadcrumbs %}HOME{% endblock %}</div>
          <ul class="nav">
          {% for item in page.tabs %}
            <li class="nav-item {% if pageInAncestors(item, page.ancestors) or page.slug == item.slug %}highlight{% endif %}"><a href="{{ item.url }}">{{ item.title }}</a></li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div> #}
  {% endblock %}
{% endblock %}

{% block main %}
  <div class="block main-content">
    <div class="inner">
      {% block mainContent %}
      {% endblock %}
    </div>
  </div>
{% endblock %}

{% block extraContent %}
{% endblock %}

{% block footer %}
  <footer class="footer block">
    {% block footerContent %}
      <div class="inner">
        {{ aposArea(global, 'footer', { controls: [ 'style', 'bold', 'italic', 'createLink', 'unlink' ] }) }}
      </div>
    {% endblock %}
  </footer>
{% endblock %}
