{% extends "layout.html" %}

{% block bodyClass %}{{ super() }} home{% endblock %}

{# breadcrumbs are excluded from the homepage #}
{% block breadcrumbs %}<strong>Apostrophe 2 Help</strong>{% endblock %}

{% block mainContent %}
  {{ aposArea(page, 'main', {
    controls: [ 'style', 'bold', 'italic', 'createLink', 'unlink', 'slideshow' ],
    styles: [
      { value: 'p', label: 'Normal' },
      { value: 'h4', label: 'Title' }
    ]
  }) }}
<hr />
<ul class="article-list">
  {% for item in page.children %}
    <li class="article-link"><a href="{{ item.url }}">{{ item.title }}</a></li>
  {% endfor %}
</ul>
{% endblock %}
