.menu
{
  padding-top: 1em;
  padding-bottom: 1em;

  border-top: 1px solid @red;
  border-bottom: 1px solid @red;

  .font-size(0.8);
  text-transform: uppercase;
}

.breadcrumbs
{
  .inline-block(top);
}

.nav
{
  float: right;
  .inline-block(top);
}